<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>200518051778-j3dbobvf4udlkk8lbsr36fa1ef4oofeq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.200518051778-j3dbobvf4udlkk8lbsr36fa1ef4oofeq</string>
	<key>API_KEY</key>
	<string>AIzaSyBenp8f7PJ-4DWvspTo95yOX7Vtq4J4VqA</string>
	<key>GCM_SENDER_ID</key>
	<string>200518051778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hu.jewps.app</string>
	<key>PROJECT_ID</key>
	<string>jewps-213314</string>
	<key>STORAGE_BUCKET</key>
	<string>jewps-213314.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:200518051778:ios:926e1ea8dec884a9</string>
	<key>DATABASE_URL</key>
	<string>https://jewps-213314.firebaseio.com</string>
</dict>
</plist>